@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeonik Fono';
  src:
    url('https://alphaassets.hiro.so/AeonikFono-Regular.woff2') format('woff2'),
    url('https://alphaassets.hiro.so/AeonikFono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'AeonikMono-Regular';
  src:
    url('https://alphaassets.hiro.so/AeonikMono-Regular.woff2') format('woff2'),
    url('https://alphaassets.hiro.so/AeonikMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 20 14.3% 4.1%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --hiro: 20 100% 50%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 24 9.8% 67.5%; /* 346.8 77.2% 49.8%; */
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --hiro: 20 100% 50%;
  }
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis-weight: none;
}

h1, h2, h3, h4, h5, h6, a, code {
  font-family: 'Aeonik Fono';
}

p {
  line-height: 1.75;
}

/* Override CSS */

/* Reduces the vertical space between code blocks and text in the steps guides */
figure.not-prose {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.tab[data-state="active"] > .badge {
  color: #fff;
  background-color: #262626;
}

.data-\[state\=active\]\:border-primary[data-state=active] {
  color: var(--secondary-foreground) !important;
  border-color: var(--secondary) !important;
}

.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  text-decoration-color: var(--secondary) !important;
}

/* Default light mode */
.highlighted {
  border: none !important;
}

/* Adjust styling for Shiki word highlighting */
.highlighted-word {
  border-color: hsl(var(--border) / 1) !important;
  border-radius: 5px !important;
  margin: 0 !important;
}


/* For the <APIExample /> component to provide more spacing between each child sections. */
.api-example .max-xl\:hidden > *:not(:last-child) {
  margin-bottom: 1.5rem;
}

.api h2 {
  margin-bottom: 1rem;
}

.api h2 > p {
  color: hsl(var(--foreground) / 1);
  font-size: 0.95rem !important; /* This size represents Tailwind's text-sm */
}

.size-10 {
  width: 2.5rem/* 20px */;
  height: 2.5rem/* 20px */;
}