@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 14.3% 95.9%;
    --foreground: 240 10% 3.9%;
    --card: 40 18.7% 93.7%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 20 14.3% 4.1%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 40 13% 91%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 40 14.3% 95.9%;
    --muted-foreground: #595650;
    --accent: 40 13% 91%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 32 13.8% 78.6%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --hiro: 21 100% 67.5%;
    --icon: #383432;
    --inverted: #141312;
    --code: 0 0% 100%;
    --highlight: 40 13% 91%;
    --content: 32.31 11.93% 78.63%;
    --dark: 30 5.7% 7.5%;
    --gradient: #59564F;
    --contrast:0 7.7% 5.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 30 5.7% 7.5%;
    --foreground: 0 0% 95%;
    --card: 20 5.3% 11.2%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 30 5.7% 7.5%;
    --muted-foreground: #8c877d;
    --accent: 12 6.2% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 17 6.5% 21%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --hiro: 24 100% 51.4%;
    --card-hover: 15 5% 16%;
    --icon: #ffffff;
    --inverted: #f2f0ed;
    --code: 0 7.7% 5.1%;
    --highlight: 12 6.2% 15.9%;
    --content: 40 5.33% 33.14%;
    --dark: 30 5.7% 7.5%;
    --gradient: #c0bdb4;
    --contrast: 0 0% 100%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .bitcoin {
    --primary: 20 14.3% 4.1%;
    --icon: #383432;
    --gradient: #ff7733;
  }

  .dark .bitcoin {
    --primary: 0 0% 100%;
    --icon: #ffffff;
    --gradient: #ff7733;
  }
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis-weight: none;
}

/* Override CSS */

li a {
  text-decoration: none !important;
}

li a:hover {
  text-decoration: underline !important;
}

div.container {
  margin-top: 1rem;
}

:not(pre) > code {
  background: hsl(var(--accent)) !important;
  border-color: hsl(var(--border)) !important;
}

/* FIXME: This removes the white space margin between frontmatter title and description and start of body content */
.container article p.mb-8 {
  margin-bottom: 0rem;
}

/* FIXME: This changes the background color of the sidebar navigation */
/* aside div.rounded-md.border.bg-gradient-to-b.from-secondary.p-1.shadow-sm {
  background: hsl(var(--hiro));
} */

.mt-4.flex.flex-row.flex-wrap.gap-4.border-t.py-12 {
  display: none;
}

div[cmdk-list-sizer] {
  font-family: var(--font-inter), sans-serif;
}

a[aria-label="Hiro Platform"] {
  padding: 0;
}

a[aria-label="Hiro Platform"] div:hover {
  background-color: hsla(var(--muted-foreground) / 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6,
code,
button,
.step {
  font-family: var(--font-aeonikFono), sans-serif;
}

a,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
option {
  font-family: var(--font-aeonikFono), sans-serif;
}

/* TODO: div.prose is for targeting the <Callout> title, need to fix this approach */
a, p, li, table, input, div.prose .w-0 {
  font-family: var(--font-inter), sans-serif;
}
/* TODO: div.prose .flex-1 span is for targeting the text inside the <Property> component */
/* div.prose .flex-1 span {
  font-family: var(--font-inter), sans-serif;
} */

/* This changes the default background color of the root level Home and Get Started tab icons */
div.bg-gradient-to-b {
  background: hsl(var(--accent));
}

/* This changes font weight on active sidebar tab */
a.bg-primary\/10 {
  font-weight: 600;
  background: hsl(var(--accent));
}

/* This changes the icon colors for active root level sidebar tabs, Stacks */
a.bg-primary\/10 div:first-child {
  background: var(--inverted);
  border: none;
}

a.bg-primary\/10 div:first-child svg {
  color: hsl(var(--background));
}
/* This changes the icon colors for active root level sidebar tabs, Ordinals */
.bitcoin a.bg-primary\/10 div:first-child {
  background: hsl(var(--hiro));
  border: none;
}

.bitcoin a.bg-primary\/10 div:first-child svg {
  color: hsl(var(--background));
}

p {
  line-height: 1.75;
}

body
  > div.guides
  > div
  > article
  > div.prose
  > figure:nth-child(37)
  > div
  > div {
  background: hsl(var(--code));
}

figure.not-prose div[data-radix-scroll-area-viewport] {
  background: hsl(var(--code));
  width: auto;
  margin: 8.5px;
  border-radius: 0.5rem;
}

/* Reduces the vertical space between code blocks and text in the steps guides */
figure.not-prose {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

/* This sets the background of a code block to match the theme's background when providing a filename to the code block */
figure.not-prose {
  background: hsl(var(--background));
}

/* This removes the border from the code block when providing a filename */
figure:not(:has(figcaption)) {
  border: none;
}

figure.not-prose:not(:has(figcaption)) {
  background: hsl(var(--code));
}

figure.not-prose:not(:has(figcaption)) div[data-radix-scroll-area-viewport] {
  margin: 0;
}

figure pre {
  background: hsl(var(--code));
}

nav.container {
  gap: 2.25rem;
}

nav.container a, figure, pre, pre a, code, code a, th, code > span, .not-prose div {
  font-family: var(--font-aeonikFono), sans-serif;
}

div.flex.flex-row.items-center.gap-2.border-b.bg-muted.px-4.py-1\.5 {
  border-bottom: none;
}

/* For dark mode specifically, FIXME: This is a temporary fix to change the background of the theme toggle icon when inactive in dark mode */
.dark button[aria-label="Toggle Theme"] svg:first-of-type {
  background: hsl(var(--background));
}

a[aria-label="Hiro Platform"] div svg {
  width: 0.75rem;
  height: 0.75rem;
}

nav a[href="/guides"] {
  text-decoration: underline;
}

[data-radix-scroll-area-viewport]
  .flex.flex-col.gap-8.pb-10.pt-4.max-md\:px-4.md\:pr-3.md\:pt-10 {
  gap: 0;
}

/* Target the header toggle */

body
  > div
  > header
  > nav
  > div.rounded-md.border.bg-background.p-1.text-sm.text-muted-foreground.max-md\:absolute.max-md\:left-\[50\%\].max-md\:translate-x-\[-50\%\]
  > a.rounded-md.px-2.py-1.transition-colors.hover\:text-accent-foreground.bg-background.text-accent-foreground {
  background-color: hsl(var(--inverted));
  color: hsl(var(--background));
}

/* Target the search component */

body
  > div
  > header
  > nav
  > div.flex.flex-1.flex-row.items-center.justify-end.md\:gap-2
  > button.inline-flex.w-full.max-w-\[240px\].items-center.gap-2.rounded-full.border.bg-secondary\/50.p-1\.5.text-sm.text-muted-foreground.transition-colors.hover\:bg-accent.hover\:text-accent-foreground.max-md\:hidden {
  background-color: hsl(var(--background));
}

p.first\:mt-0 {
  font-family: var(--font-aeonikFono), sans-serif;
  margin-top: 1.5rem !important;
}

p.first\:mt-0:before {
  content: "";
  display: block;
  height: 1px;
  margin-bottom: 1rem;
  border-width: 0.25px;
  border-color: hsl(var(--accent));
}

/* Override the .prose-no-margin on callout components */
.callout p {
  margin: 0;
}

div.not-prose,
div.prose-no-margin,
div[role="tablist"] {
  background: hsl(var(--background));
}

/* Target the form tag with specific classes */
form.not-prose.flex.flex-col.gap-4.rounded-lg.border.bg-card.p-4 {
  background-color: hsl(var(--background));
}

/* Target the specific div with the given classes */
.divide-y.divide-border.overflow-hidden.rounded-lg.bg-card.-m-4.mt-2.border-0.text-sm {
  background-color: hsl(var(--background));
}

/* overrides the background of APIInfo and adjusts sticky header on scroll */
div.prose-no-margin
  .sticky.top-24.z-\[2\].flex.flex-row.items-center.gap-2.rounded-lg.border.bg-card.p-3.md\:top-10 {
  background: hsl(var(--background));
  top: 4.5rem;
}

/* START Wrap longer endpoionts */

/* Target the sticky outer div */
.sticky.top-24.z-\[2\].flex.flex-row.items-center.gap-2.rounded-lg.border.bg-card.p-3.md\:top-10 {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2.5rem;
}

/* Style for the POST span */
.sticky.top-24.z-\[2\].flex.flex-row.items-center.gap-2.rounded-lg.border.bg-card.p-3.md\:top-10
  > span:first-child {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
}

/* Style for the button */
.sticky.top-24.z-\[2\].flex.flex-row.items-center.gap-2.rounded-lg.border.bg-card.p-3.md\:top-10
  > button {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
}

/* Target the inner div containing the endpoint spans */
.sticky.top-24.z-\[2\].flex.flex-row.items-center.gap-2.rounded-lg.border.bg-card.p-3.md\:top-10
  > div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* END Wrap longer endpoionts */

div.prose div.footer.not-prose {
  background: hsl(var(--accent));
}

#radix-\:r3\: > div > div > div:nth-child(2) > select option {
  font-family: var(--font-aeonikFono), sans-serif !important;
}

.steps
  > div:nth-child(2)
  > figure:nth-child(3)
  > div.flex.flex-row.items-center.gap-2.border-b.bg-muted.px-4.py-1\.5 {
  background: hsl(var(--background)) !important;
}

div.api-example div.max-xl\:hidden > div:nth-child(1) {
  margin-top: 0;
  margin-bottom: 1rem;
}

.prose :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  text-decoration-color: var(--secondary) !important;
}

/* Default light mode */
.highlighted {
  border: none !important;
}

/* Adjust styling for Shiki word highlighting */
.highlighted-word {
  background: hsl(var(--accent)) !important;
  border-color: hsl(var(--accent)) !important;
  border-radius: 5px !important;
  margin: 0 !important;
}

.size-10 {
  width: 2.5rem /* 20px */;
  height: 2.5rem /* 20px */;
}

/* Add a deprecated strike through to sidebar links */
a[href="/stacks/api/accounts/nft-events"],
a[href="/stacks/api/accounts/transaction-with-transfers"],
a[href="/stacks/api/accounts/transactions"],
a[href="/stacks/api/accounts/transactions-with-transfers"],
a[href="/stacks/api/blocks/block-by-burn-block-hash"],
a[href="/stacks/api/blocks/block-by-burn-block-height"],
a[href="/stacks/api/blocks/block-by-hash"],
a[href="/stacks/api/blocks/block-by-height"],
a[href="/stacks/api/blocks/recent-blocks"],
a[href="/stacks/api/fees/fee-rate"] {
  text-decoration: line-through;
  color: hsl(var(--muted-foreground) / var(--tw-text-opacity));
}

div.divide-y.divide-border.overflow-hidden.rounded-lg.border.bg-card {
  background: hsl(var(--background));
}

/* START Docskit theme */

@layer base {
  :root {
    --ch-0: light;
    --ch-1: #7A756B;
    --ch-2: #7C7F93; /* Not used */
    --ch-3: #B5ACA1;
    --ch-4: #48944C;
    --ch-5: #EA76CB;
    --ch-6: #FF5500;
    --ch-7: #BC812E;
    --ch-8: #179299;
    --ch-9: #3676B7;
    --ch-10: #BC812E;
    --ch-11: #7A756B;
    --ch-12: #BC812E;
    --ch-13: #04A5E5;
    --ch-14: #DD7878;
    --ch-15: #6C6F85;
    --ch-16: #3676B7; /* highlight */
    --ch-17: #DC8A78;
    --ch-18: #EFF1F5;
    --ch-19: #4C4F6912;
    --ch-20: #04A5E540;
    --ch-21: #1A85FF;
    --ch-22: #7C7F934D;
    --ch-23: #E6E9EF;
    --ch-24: #ACB0BE;
    --ch-25: #DCE0E8;
    --ch-26: #8C8FA1;
    --ch-27: #CCD0DA;
    --ch-28: #CCD0DA80;
    --ch-29: #EFF1F5E6;
    --ch-30: #BCC0CC;
    --ch-31: #6C6F85;
    --ch-32: #5C5F77;
    --ch-33: #ACB0BE;
  }

  .dark {
    --ch-0: dark;
    --ch-1: #8C877D;
    --ch-2: #9399B2; /* Not used */
    --ch-3: #595650;
    --ch-4: #C2EBC4;
    --ch-5: #F5C2E7;
    --ch-6: #FF5500;
    --ch-7: #FF9ECF;
    --ch-8: #94E2D5;
    --ch-9: #B3D9FF;
    --ch-10: #FF9ECF;
    --ch-11: #8C877D;
    --ch-12: #FF9ECF;
    --ch-13: #89DCEB;
    --ch-14: #F2CDCD;
    --ch-15: #A6ADC8;
    --ch-16: #8C877D; /* highlight */
    --ch-17: #F5E0DC;
    --ch-18: #1E1E2E;
    --ch-19: #CDD6F412;
    --ch-20: #89DCEB40;
    --ch-21: #3794FF;
    --ch-22: #9399B240;
    --ch-23: #181825;
    --ch-24: #585B70;
    --ch-25: #11111B;
    --ch-26: #7F849C;
    --ch-27: #313244;
    --ch-28: #31324480;
    --ch-29: #1E1E2EE6;
    --ch-30: #A6ADC8;
    --ch-31: #585B70;
    --ch-32: #45475A;
    --ch-33: #BAC2DE;
  }
}

/* END Docskit theme */