.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureWrapper {
  border: 1px solid var(--ifm-color-emphasis-200);
  padding: 1rem;

  height: 100%;
}

.featureSvg {
  height: 96px;
  width: 96px;
  padding: 1rem 0;
}
