/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff5500;
  --ifm-color-primary-dark: #e64d00;
  --ifm-color-primary-darker: #d94800;
  --ifm-color-primary-darkest: #b33b00;
  --ifm-color-primary-light: #ff661a;
  --ifm-color-primary-lighter: #ff6e26;
  --ifm-color-primary-lightest: #ff884d;

  --ifm-color-gray-100: #f7faff;
  --ifm-color-gray-200: #d9dee8;
  --ifm-color-gray-300: #bcc4d1;
  --ifm-color-gray-400: #a2abb9;
  --ifm-color-gray-500: #8a93a2;
  --ifm-color-gray-600: #747c8b;
  --ifm-color-gray-700: #5f6674;
  --ifm-color-gray-800: #373c45;
  --ifm-color-gray-900: #121417;

  --ifm-code-font-size: 95%;
  --ifm-global-shadow-lw: 0 1px 2px 0 rgba(0, 0, 0, 0.07);

  --custom-color-border: #eeeff2;
  --custom-color-text-disabled: #8d929b;
}

[data-theme='dark'] {
  --ifm-color-primary: #ff5500;
  --ifm-color-primary-dark: #e64d00;
  --ifm-color-primary-darker: #d94800;
  --ifm-color-primary-darkest: #b33b00;
  --ifm-color-primary-light: #ff661a;
  --ifm-color-primary-lighter: #ff6e26;
  --ifm-color-primary-lightest: #ff884d;
}

html[data-theme='dark'] {
  /* --ifm-toc-border-color: var(--ifm-color-emphasis-300); */
}

html[data-theme='dark'] table,
html[data-theme='dark'] td,
html[data-theme='dark'] th,
html[data-theme='dark'] tr {
  /* border-color: #303439; */
}

html[data-theme='dark'] .redoc-wrap a {
  /* color: #9494ff; */
}

.footer__link-item:hover {
  /* color: #9494ff; */
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-survey-link {
  background-color: rgb(85, 70, 255);
  color: white;
  border-radius: 4px;
  transition: background-color 0.05s ease-in-out;
}

.header-survey-link:hover {
  background-color: rgb(61, 46, 230);
  color: white;
}

html[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.admonition {
  border-left: 0;
}

/* fix for duplicate padding, after search bar update */
.navbar__items div[class^='searchBox_'] {
  padding-top: 0;
  padding-bottom: 0;
  min-width: 122.828125px; /* reduces layout shift by late search box loading */
}

/* custom logo class */
.hiro-logo {
  height: 26px;
  margin-top: 1px;
  margin-left: 18px;
}

/* FOOTER =================================================================== */
footer.footer {
  background-color: #fff;
  border-top: 1px solid var(--custom-color-border);
}

.footer {
  background-color: var(--ifm-footer-background-color);
  color: var(--ifm-footer-color);
  padding: var(--ifm-footer-padding-vertical) var(--ifm-footer-padding-horizontal);
}

.footer--dark {
  --ifm-footer-background-color: #303846;
  --ifm-footer-color: var(--ifm-footer-link-color);
  --ifm-footer-link-color: var(--ifm-color-secondary);
  --ifm-footer-title-color: var(--ifm-color-white);
}

.footer__copyright {
  color: var(--custom-color-text-disabled);
}

/* reduces footer layout shift */
.footer__logo {
  min-height: 36px;
}
