/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeonik Fono';
  src: url('https://alphaassets.hiro.so/AeonikFono-Regular.woff2') format('woff2'),
    url('https://alphaassets.hiro.so/AeonikFono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'AeonikMono-Regular';
  src: url('https://alphaassets.hiro.so/AeonikMono-Regular.woff2') format('woff2'),
    url('https://alphaassets.hiro.so/AeonikMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: optional;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/static/font/Inter-roman.var.woff2?v=3.19') format('woff2');
}

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff5500;
  --ifm-color-primary-dark: #e64d00;
  --ifm-color-primary-darker: #d94800;
  --ifm-color-primary-darkest: #b33b00;
  --ifm-color-primary-light: #ff661a;
  --ifm-color-primary-lighter: #ff6e26;
  --ifm-color-primary-lightest: #ff884d;

  --ifm-color-gray-100: #fffdfa;
  --ifm-color-gray-200: #f3f3ee;
  --ifm-color-gray-300: #e7e8e2;
  --ifm-color-gray-400: #d9dcd6;
  --ifm-color-gray-500: #989ca2;
  --ifm-color-gray-600: #6a6e74;
  --ifm-color-gray-700: #54575d;
  --ifm-color-gray-800: #3f4145;
  --ifm-color-gray-900: #151517;

  --color-neutral-white: #ffffff;
  --color-neutral-000: #f2f0ed;
  --color-neutral-100: #e4e0dc;
  --color-neutral-200: #cfc9c2;
  --color-neutral-300: #8c877d;
  --color-neutral-400: #595650;
  --color-neutral-500: #383432;
  --color-neutral-600: #2a2726;
  --color-neutral-700: #1e1c1b;
  --color-neutral-black: #0d0c0c;

  --ifm-color-secondary: var(--ifm-color-emphasis-900);

  --ifm-font-family-base: Inter, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --ifm-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  --ifm-heading-font-family: 'Aeonik Fono', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --ifm-heading-font-weight: var(--ifm-font-weight-normal);
  --ifm-button-font-weight: var(--ifm-font-weight-semibold);

  --ifm-global-radius: 2px;
  --ifm-code-border-radius: 5px;
  --ifm-global-shadow-lw: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
  --ifm-code-font-size: 81.25%;
  --ifm-alert-border-left-width: 0px;

  --aa-primary-color-rgb: var(--ifm-color-primary-lighter);
}

[data-theme='dark'] {
  /* --ifm-color-primary: #ff5500; */ /* Contrast isn't great */
  --ifm-color-primary-dark: #e64d00;
  --ifm-color-primary-darker: #d94800;
  --ifm-color-primary-darkest: #b33b00;
  --ifm-color-primary-light: #ff661a;
  --ifm-color-primary-lighter: #ff6e26;
  --ifm-color-primary-lightest: #ff884d;

  --ifm-color-primary: var(--ifm-color-primary-lighter);

  --ifm-background-color: var(--ifm-color-emphasis-100) !important;
  --ifm-background-surface-color: var(--ifm-color-emphasis-100) !important;

  --ifm-toc-border-color: var(--ifm-color-emphasis-200);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'AeonikMono-Regular';
}

p {
  font-family: 'Aeonik Fono';
}

[data-theme='dark'] table,
[data-theme='dark'] td,
[data-theme='dark'] th,
[data-theme='dark'] tr {
  border-color: var(--ifm-color-emphasis-200);
}

.redocusaurus .redoc-wrap a {
  color: var(--ifm-color-primary-light);
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-survey-link {
  background-color: rgb(255, 72, 0);
  color: white;
  border-radius: 4px;
  transition: background-color 0.05s ease-in-out;
}

.header-survey-link:hover {
  background-color: rgb(217, 72, 0);
  color: white;
}

html[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

table {
  border-radius: 3px;
}

[data-theme='dark'] .navbar {
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.07);
}

/* custom logo class */
.hiro-logo {
  height: 26px !important;
  margin-top: 3px;
  margin-left: 18px;
}
/* INTERACTIVE OPEN API ===================================================== */
.badge--secondary {
  color: var(--ifm-color-white);
}

html[data-theme='dark'] .badge--secondary {
  color: var(--ifm-color-black);
}

main[class^='apiMainContainer_'] table {
  table-layout: fixed;
}

/* SEARCH PLUGIN ============================================================ */

/* fix for duplicate padding, after search bar update */
.navbar__inner {
  display: flex;
  justify-content: space-between;
}

.navbar__items {
  display: flex;
  flex-direction: row-reverse;
  flex-shrink: 1; /* allows this element to shrink */
  max-width: 50%; /* limits width to 50% of the parent's width */
  justify-content: flex-end;
}

.navbar__search {
  order: -1;
  flex-grow: 1;
  margin-right: auto;
}

.dsla-search-wrapper {
  --aa-primary-color-rgb: 235, 86, 12 !important;
  --aa-input-background-color-rgb: 245, 245, 247 !important;
}

[data-theme='dark'] .dsla-search-wrapper {
  --aa-input-background-color-rgb: 36, 37, 38 !important;
  --aa-muted-color-rgb: 136, 139, 145 !important;
}

.aa-DetachedOverlay {
  --aa-input-border-color-rgb: 136, 139, 145 !important;
  --aa-primary-color-rgb: 235, 86, 12 !important;
  --aa-muted-color-rgb: 136, 139, 145 !important;
}

[data-theme='dark'] .aa-DetachedOverlay {
  --aa-background-color-rgb: 30, 31, 32 !important;
}

[data-theme='dark'] .aa-Input::placeholder {
  color: rgb(115, 119, 125) !important;
}

.aa-SubmitIcon {
  color: rgb(115, 119, 125) !important;
}

.aa-DetachedSearchButton {
  border: 0 !important;
  border-radius: 7px !important;
}

.aa-DetachedSearchButton:after {
  content: 'Search';
}

.aa-DetachedSearchButtonPlaceholder {
  display: none;
}

/* FOOTER =================================================================== */
.footer {
  --ifm-footer-color: var(--ifm-color-emphasis-800);
  --ifm-footer-link-color: var(--ifm-footer-color);
  --ifm-footer-title-color: var(--ifm-color-emphasis-900);

  background-color: var(--ifm-background-color);
  padding: var(--ifm-footer-padding-vertical) var(--ifm-footer-padding-horizontal);
  border-top: 1px solid var(--ifm-color-emphasis-200);
  color: var(--ifm-footer-color);
}

.footer__title {
  font-weight: var(--ifm-font-weight-semibold);
}

.footer__copyright {
  color: var(--ifm-color-emphasis-500);
}

/* reduces footer layout shift */
.footer__logo {
  min-height: 36px;
}

/* reduce img shift with color mode mismatch (on refresh in dark mode) */
html[data-theme='dark'] body[data-theme='light'] img:first-of-type {
  display: none;
}

/* SIDEBAR & NAVBAR ========================================================= */

.menu__list-item.section-title {
  margin-top: 0.75rem;
}

.section-title {
  color: var(--ifm-color-gray-600);
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  /* margin-top: 1rem !important; */
}

.dropdown-nav {
  font-size: 0.85rem;
}

.dropdown__menu .section-title {
  margin-top: 0.75rem;
}

.dropdown__link {
  margin-top: 0;
}

.menu__link {
  font-size: 0.85rem;
}

.back-link a::before {
  content: url(../../static/img/back-arrow.svg);
  font-size: 0.25rem;
  margin-right: 5px;
}

.back-link a:hover {
  background-color: transparent;
  text-decoration: underline;
}

/* FEEDBACK ================================================================= */
/* MIT Copyright Meta */
/* Adapted from https://github.com/facebook/react-native-website/blob/c9cb19e4061b403794492eee4981750c6542e974/website/src/css/customTheme.scss#L1665-L1712 */

.docsRating {
  text-align: right;
  color: var(--ifm-color-primary);
  line-height: 32px;
}

.docsRating svg {
  height: 1.5em;
  width: 1.5em;
  margin: 0 0 0 4px;
  fill: var(--ifm-color-primary);
}

.docsRating svg:hover,
.docsRating svg:focus {
  cursor: pointer;
  fill: var(--ifm-color-primary-lightest);
}

.docsRating .i_thumbsup {
  transform: translateY(0.25em);
  margin-left: 9px;
}

.docsRating .i_thumbsdown {
  transform: scale(-1, -1) translateY(-0.25em);
}

/* tmp content, todo: deduplicate */
.sectionTitle {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  font-size: 32px;
}

.subSections {
  display: flex;
  gap: 16px;
  color: var(--color-neutral-300);
}
.subSections > a {
  display: block;
  flex: 1;
  position: relative;
  border-radius: 8px;
  padding: 16px 16px 32px;

  text-decoration: none;

  background-color: var(--color-neutral-000);
  color: var(--color-neutral-400);
  transition: background-color 64ms ease-in-out;
}
.subSections > a:hover {
  background-color: var(--color-neutral-100);
}
.subSections > a:focus {
  background-color: var(--color-neutral-200);
}
[data-theme='dark'] .subSections > a {
  background-color: var(--color-neutral-600);
  color: var(--color-neutral-200);
}
[data-theme='dark'] .subSections > a:hover {
  background-color: var(--color-neutral-500);
}
[data-theme='dark'] .subSections > a:focus {
  background-color: var(--color-neutral-700);
}
.subSections > a span {
  position: absolute;
  transition: right 128ms ease-in-out;
  right: 22px;
}
.subSections > a:hover span {
  right: 16px;
}
.subSectionTitle {
  display: flex;
  justify-content: space-between;
}

/* left nav bar is hdden at 996px */
@media screen and (max-width: 860px) {
  .subSections {
    flex-direction: column;
  }
}

/* CONTENT MARKDOWN ELEMENTS ================================================ */
/* Prefixed with `Hiro` */

div.HiroLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

a.HiroLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--ifm-color-primary);
  text-decoration: none;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition: color 0.15s ease;
  background-color: ;
}

a.HiroLinkExternal {
  color: var(--ifm-color-primary);
}
/* ALGOLIA SEARCH BAR STYLING =============================================== */
/* This section contains the styling for the Algolia search bar. */

[data-theme='light'] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-color-secondary-lighter);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  /* Footer */
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}
