* {
  /* outline: 1px solid red; */
}

.start {
  margin-top: 32px;
  margin-bottom: 64px;
  max-width: 512px;
  font-size: 18px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-content: stretch; */
  /* flex: 1; */
}

.start .card {
  /* max-width: 374px; */
  margin: auto;
  border: 1px solid #e0e0e0;
  padding: 13px 16px;
  margin-bottom: 24px;
}

.start .card-title {
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 8px;
}

.start label,
.start input {
  font-size: 16px;
}

.start input {
  margin-right: 6px;
}

.start input[type='checkbox'],
.start input[type='radio'] {
  position: relative;
  top: -1px;
}

.start button {
  display: inline-block;
  padding: 14px 22px 16px 18px;
  border: 2px solid #c5c1ff;
  border-radius: 13px;
  font-size: 16px;
  font-weight: bold;
  color: #5347f4;
  background: #fff;
  cursor: pointer;
}

.start button:hover {
  background: #ebe9ff;
  border-color: #5347f4;
  color: #3227cd;
}

.start button.terminal {
  padding: 10px 18px 12px 18px;
  background: #f9f9f9;
  border-color: #bbb;
  color: #555;
}

.start button.terminal:hover {
  background: #f2f2f2;
  border-color: #999;
  color: #333;
}

.start .align-right {
  text-align: right;
}

.start .or {
  margin-right: 6px;
  font-weight: bold;
  color: #aaa;
}
