.ch-terminal-line {
  --line-accent: 209, 201, 192;
}

.dark .ch-terminal-line {
  --line-accent: 57, 52, 50;
}

.ch-terminal-content {
  display: inline-block;
  transition: all 0.3s;
  background-size: 400% auto;
  background-image: linear-gradient(
    to right,
    transparent 25%,
    rgba(var(--line-accent), 0.1) 30%,
    rgba(var(--line-accent), 0.3) 50%,
    rgba(var(--line-accent), 0.6) 52%,
    rgba(var(--line-accent), 0.6) 55%,
    rgba(var(--line-accent), 0.2) 75%
  );
  border-radius: 5px;
  padding: 0 4px;
  margin: 0 -4px;
}

.ch-terminal-line:hover .ch-terminal-content,
.ch-terminal-line:focus-within .ch-terminal-content {
  background-position-x: 33.3%;
}

.ch-terminal-line:has(.ch-terminal-button:hover) .ch-terminal-content,
.ch-terminal-line:has(.ch-terminal-button:focus) .ch-terminal-content {
  background-position-x: 37%;
}

.ch-terminal-line[data-active="true"] .ch-terminal-content {
  background-position-x: 66.6% !important;
}

.ch-terminal-button {
  opacity: 0;
  transform: translateX(-4px);
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 12px;
  border-radius: 5px;
  padding: 0 6px;
}

.ch-terminal-button:hover,
.ch-terminal-button:focus {
  background-color: rgb(var(--line-accent), 0.3);
}

.ch-terminal-line[data-active="true"] .ch-terminal-button {
  background-color: rgb(var(--line-accent), 0.6);
}

.ch-terminal-line:hover .ch-terminal-button,
.ch-terminal-line:focus-within .ch-terminal-button {
  opacity: 1;
  transform: translateX(0);
}
